<span>
    <div class="pad-down">
        <h4 class="pad-down">Лабораторная работа : Модуляционная передаточная функция ФПЗС </h4>
        <p>Исходные данные :</p>
    </div>

    <div>
        <p class="pad-down">d<sub>xп</sub> = <span [innerHTML]="dxp"></span> * 10 <sup>-6</sup> [м] - расстояние между
            соседними светлыми полосами</p>
        <p class="pad-down">V<sub>xп</sub> = <span [innerHTML]="vxp"></span> * 10 <sup>6</sup> [м<sup>-1</sup>] -
            пространственная частота
        </p>
        <p class="pad-down">M = <span [innerHTML]="m"></span> - число строк ФПЗС- матрицы
            пространственная частота
        </p>
        <p class="pad-down">V<sub>xn</sub> = <span [innerHTML]="vxn"></span> * 10 <sup>3</sup> [м<sup>-1</sup>] -
            частота Найквиста вдоль оси ν<sub>x</sub>
        </p>
    </div>
</span>