<span>
    <div class="pad-down">

        <h4 class="pad-down">Практическое задание 3</h4>
        <p class="pad-down">На ФПЗС-матрицу, входящую в состав интерферометра, проецируется
            изображение вертикально ориентированных интерференционных полос.
            Установить, возникнут ли искажения в изображении этой интерференционной картины на
            экране видеомонитора, при различных расстояниях между соседними светлыми полосами
            (d xп изменяется от 2 до 10 мкм).
            Технические характеристики ФПЗС-матрицы(см. вкладку
            из задание 1).</p>
        <h4 class="pad-down">Основные формулы</h4>

        <div class="flex pad-down">
            <span class="left-eqn">V<sub>xп</sub> = </span>
            <mathjax [content]="eqn1"></mathjax>
            <p class="eqn"> 1.1
            </p>
        </div>

        <div class="flex pad-down">
            <span class="left-eqn">V<sub>xN</sub> = </span>
            <mathjax [content]="eqn2"></mathjax>
            <p class="eqn"> 1.2
            </p>
        </div>
        
        <h4 class="pad-down">Исходные данные :</h4>

    </div>

    <div>
        <p class="pad-down">d<sub>xп</sub> = <span [innerHTML]="dxp"></span> * 10 <sup>-6</sup> [м] - расстояние между
            соседними светлыми полосами</p>
        <p class="pad-down">V<sub>xп</sub> = <span [innerHTML]="vxp"></span> * 10 <sup>6</sup> [м<sup>-1</sup>] -
            пространственная частота
        </p>
        <p class="pad-down">M = <span [innerHTML]="m"></span> - число строк ФПЗС- матрицы
            пространственная частота
        </p>
        <p class="pad-down">V<sub>xn</sub> = <span [innerHTML]="vxn"></span> * 10 <sup>3</sup> [м<sup>-1</sup>] -
            частота Найквиста вдоль оси ν<sub>x</sub>
        </p>
        <p>Сравнить полученные значения для ν<sub>xП</sub> и ν<sub>xN</sub>. Если ν<sub>xП</sub> > ν<sub>xN</sub>, то на экране
            видеомонитора обязательно возникнут нелинейные искажения в виде эффекта Муара
            изображения регистрируемых интерференционных полос.</p>
    </div>
</span>