<h3>Преимущества и недостатки матриц:</h3>
<h4>1.Матрицы с полнокадровым переносом (англ. full-frame).</h4>
<i>Преимущества:</i>
<div class="paragraph">
    <p class="pad-down">--Простота технологического цикла;</p>
    <p> --Возможность занять 100% поверхности светочувствительными элементами.
    </p>
</div>
<i>Недостатки:</i>
<div class="paragraph">
    <p class="pad-down">--При считывании данных следует перекрывать затвором источник света, чтобы избежать появления
        эффекта смазывания;
    </p>
    <p> --Частота считывания ограничена скоростями работы последовательного и параллельного регистров сдвига. От этого
        же зависит интервал перекрытия матрицы затвором.
    </p>
</div>


<h4>2.Матрицы с кадровым переносом. (англ. frame transfer).</h4>

<i>Преимущества:</i>
<div class="paragraph">
    <p class="pad-down">--Возможность занять 100% поверхности светочувствительными элементами;</p>
    <p class="pad-down"> --Время считывания ниже, чем у матрицы с полнокадровым переносом;
    </p>
    <p class="pad-down">--Смазывание меньше, чем в ПЗС-матрице с полнокадровым переносом;</p>
    <p>--Имеет преимущество рабочего цикла по сравнению полнокадровой архитектурой: ПЗС-матрица с кадровым переносом всё
        время собирает фотоны.</p>
</div>
<i>Недостатки:</i>
<div class="paragraph">
    <p class="pad-down">--При считывании данных следует перекрывать затвором источник света, чтобы избежать появления
        эффекта смазывания;
    </p>
    <p class="pad-down">--Увеличен путь перемещения заряда, что негативно сказывается на эффективности передачи заряда;
    </p>
    <p>--Изготовление и производство данных матриц дороже, чем устройств с полнокадровым переносом.</p>
</div>


<h4>3.Матрицы с межстрочным переносом или матрицы с буферизацией столбцов (англ. Interline-transfer).</h4>
<i>Преимущества:</i>
<div class="paragraph">
    <p class="pad-down">--Процессы накопления и переноса заряда пространственно разделены;
    </p>
    <p class="pad-down"> --Заряд из элементов накопления передаётся в закрытые от света ПЗС-матрицы регистры переноса;
    </p>
    <p class="pad-down">--Перенос заряда всего изображения осуществляется за 1 такт;</p>
    <p class="pad-down">--Нет необходимости применять затвор;</p>
    <p>--Отсутствует смазывание.</p>
</div>
<i>Недостатки:</i>
<div class="paragraph">
    <p class="pad-down">--Возможность заполнить поверхность чувствительными элементами не более чем на 50%.
    </p>
    <p class="pad-down">--Скорость считывания ограничена скоростью работы регистра сдвига;
    </p>
    <p>--Разрешающая способность ниже, чем у ПЗС-матриц с кадровым и полнокадровым переносом.</p>
</div>

<h4>4.Матрицы со строчно-кадровым переносом или матрицы с буферизацией столбцов (англ. interline).</h4>
<i>Преимущества:</i>
<div class="paragraph">
    <p class="pad-down">--Процессы накопления и переноса заряда пространственно разделены;
    </p>
    <p class="pad-down"> --Заряд из элементов накопления передаётся в закрытые от света ПЗС-матрицы регистры переноса;
    </p>
    <p class="pad-down">--Перенос заряда всего изображения осуществляется за 1 такт;</p>
    <p class="pad-down">--Отсутствует смазывание;</p>
    <p>--Интервал между экспонированиями минимален и подходит для записи видео.</p>
</div>
<i>Недостатки:</i>
<div class="paragraph">
    <p class="pad-down">--Возможность заполнить поверхность чувствительными элементами не более чем на 50%;
    </p>
    <p class="pad-down">--Разрешающая способность ниже, чем у ПЗС-матриц с кадровым и полнокадровым переносом;
    </p>
    <p>--Увеличен путь перемещения заряда, что негативно сказывается на эффективности передачи заряда.</p>
</div>