<h3>Многообразие ПЗС.</h3>
<span>
    <p class="pad-down">Многообразие ПЗС не исчерпывается рассмотренными в этом обзоре типами. Так, широкое
        распространение находят
        линейки ПЗС – как для считывания одномерных изображений (например, штрих-коды), так и в системах, где имеется
        механическая развёртка по одной координате. Простейшие примеры – телефакс и сканер. Менее очевидные применения –
        системы наблюдения за земной поверхностью с космических аппаратов или самолётов, где используется движение
        самого аппарата относительно Земли. Как правило, накопительными элементами в ПЗС–линейках служат фотодиоды; по
        обе стороны от линейки накопительных элементов располагаются регистры считывания (соответственно для чётных и
        нечётных элементов – <i>билинейная организация</i>). Номенклатура выпускаемых сейчас линеек довольно широка, а
        число
        элементов колеблется от 1024 до 8192.</p>
    <p class="pad-down">Разновидностью приборов для систем с механической развёрткой являются приборы ВЗН</p>
    <p class="pad-down">– с временной задержкой и накоплением. Их организация тождественна односекционным ПЗС с КП, но
        отличаются они
        режимом тактировки по вертикали: секция тактируется <i> непрерывно</i>, причём тактовая частота подбирается
        такой, что
        скорость перемещения зарядового рельефа равна скорости перемещения изображения; при этом каждый элемент
        изображения даёт вклад в <i> один и тот же </i> зарядовый пакет, что, очевидно, увеличивает чувствительность ВЗН
        по
        сравнению с обычными линейками в число строк раз. Именно ВЗН широко применяются в космической аппаратуре для
        наблюдения за земной поверхностью. Число строк в таких приборах колеблется от 64 до 256, а число элементов по
        горизонтали – от 1024 до 4096.
    </p>
    <p class="pad-down">А вообще приёмники изображения – не единственное применение ПЗС. Так, добавив к регистру ПЗС
        устройство ввода
        электрического сигнала, мы получим аналоговую линию задержки, причём время задержки определяется как числом
        элементов регистра, так и тактовой частотой, а значит, может <i>легко изменяться</i>. Далее. В качестве элемента
        регистрации зарядового пакета можно использовать не только плавающую диффузию, но и плавающий затвор,
        характеризующийся <i>неразрушающим считыванием</i>, т. е. получить регистр с отводами. Такие регистры являются
        основой
        <i>трансверсальных фильтров</i>, широко применявшихся, например, в обработке радиолокационных сигналов.</p>
</span>