<h3>Многообразие ПЗС.</h3>
<span>
    <p class="pad-down">Многообразие ПЗС не исчерпывается рассмотренными в этом обзоре типами. Так, широкое
        распространение находят линейки ПЗС – как для считывания одномерных изображений (например, штрих-коды), так и в
        системах, где имеется механическая развёртка по одной координате. Простейшие примеры – телефакс и сканер. Менее
        очевидные применения – системы наблюдения за земной поверхностью с космических аппаратов или самолётов, где
        используется движение самого аппарата относительно Земли. Как правило, накопительными элементами в ПЗС–линейках
        служат фотодиоды; по обе стороны от линейки накопительных элементов располагаются регистры считывания
        (соответственно для чётных и нечётных элементов – билинейная организация). Номенклатура выпускаемых сейчас
        линеек довольно широка, а число элементов колеблется от 1024 до 8192.</p>

</span>

<div class="image">
    <img src="assets/mnogabrazie.jpg">
</div>