<h3>Перспективы развития</h3>
<span>
    <p class="pad-down">Многообразие ПЗС не исчерпывается рассмотренными в этом обзоре типами. Так, широкое
        распространение находят линейки ПЗС – как для считывания одномерных изображений (например, штрих-коды), так и в
        системах, где имеется механическая развёртка по одной координате. Простейшие примеры – телефакс и сканер. Менее
        очевидные применения – системы наблюдения за земной поверхностью с космических аппаратов или самолётов, где
        используется движение самого аппарата относительно Земли. Как правило, накопительными элементами в ПЗС–линейках
        служат фотодиоды; по обе стороны от линейки накопительных элементов располагаются регистры считывания
        (соответственно для чётных и нечётных элементов – билинейная организация). Номенклатура выпускаемых сейчас
        линеек довольно широка, а число элементов колеблется от 1024 до 8192.</p>

</span>

<div class="image">
    <img src="assets/mnogabrazie.jpg">
</div>
<h3>ЗАКЛЮЧЕНИЕ</h3>
<span>
    <p class="pad-down">Нельзя сказать, что сейчас ПЗС достигли совершенства, хотя за истекшие годы в технологии их
        изготовления и был
        достигнут потрясающий прогресс. Диапазон выпускаемых приборов охватывает как миниатюрные матрицы с шагом
        элементов примерно 3 на 5 мкм (одна из последних разработок Sony), так и гигантские кристаллы форматом 5 тыс. на
        5 тыс. элементов и размером кристалла почти 8 на 8 см (фирма DALSA, Канада). Не за горами и появление
        однокристальных приборов форматом 8 на 8 тысяч элементов, тогда как сейчас приборы сверхбольшого формата (эти
        астрономы ненасытны...) собираются из двух или четырёх отдельных кристаллов, монтируемых встык на общее
        основание.
    </p>
    <p class="pad-down">Разумеется, у ПЗС есть и свои проблемы. Самая серьёзная из них – специфическая, ни на что не
        похожая технология
        изготовления и чрезвычайно жёсткие требования к однородности исходного кремния и степени совершенства
        технологического процесса. Если при производстве цифровых приборов разброс параметров по пластине может
        достигать нескольких крат без заметного влияния на параметры получаемых приборов (поскольку работа идёт с
        дискретными уровнями напряжения), то в ПЗС изменение, скажем, концентрации легирующей примеси на 10% <i> уже
            заметно
            на изображении </i>. Свои проблемы добавляет и размер кристалла, и невозможность резервирования, как в БИС
        памяти,
        так что дефектные участки приводят к негодности всего кристалла.</p>
    <p class="pad-down"> Специфическим ограничением является и присущий
        им по принципу действия последовательный вывод информации, тогда как в ряде применений (например, оптические
        системы наведения или устройства ориентации космических аппаратов) удобнее иметь датчики с произвольным опросом.
        Всё это привело к тому, что в последние годы заметный интерес проявляется к т. н. приборам с активной ячейкой
        (APS – active pixel sensors), изготавливаемым по стандартной КМОП-технологии. Пока уступая по своим параметрам
        ПЗС, эти приборы быстро прогрессируют. В будущем, вероятно, произойдёт определённое разделение «зон влияния»
        каждого из этих классов приборов, а может быть, появится что-нибудь совершенно новое.</p>

    <p class="pad-down">Недавно фирма Sony анонсировала Microblock CCD – цветную ПЗС-матрицу и чипсет управления ПЗС и
        обработки
        видеосигнала, смонтированные в единый корпус со встроенным пластмассовым объективом. На выходе формируется
        стандартный ТВ сигнал. Размер этой <i>цветной телекамеры</i> – 18,3 на 18,3 на 7,3 <i>миллиметра</i>.</p>
</span>