<span class="content-container">
    <!-- <h3>Прибор с зарядовой связью (ПЗС)</h3> -->
    <div class="image">
        <img src="assets/titul.png">
        <p class="center">Рис. 1 Начальный этап развития пзс.</p>
    </div>
    <div>
        <p>Чаще всего, когда говорят о ПЗС, имеют в виду различные фотоприемники. Реже — это устройства памяти: регистры
            сдвига, линии задержки. По своей сути это устройство, чем-то напоминающее память на цилиндрических магнитных
            доменах, только на кремнии — с помощью создаваемой системой электродов бегущей волны электрического поля по
            полупроводнику перемещаются сгустки носителей заряда, каким-либо образом образовавшиеся в нем ранее. Таким
            образом, мы получаем регистр сдвига, имеющий предельно простую структуру и способный запоминать не только
            последовательность цифровых единиц и нулей, но и аналоговый сигнал.

        </p>
    </div>


    <div>
        <p>
            В ПЗС-приемниках изображения используется как раз вот эта способность данной структуры — последовательно
            выводить один за другим заряды, накопленные под каждым из пикселов структуры. Кроме того, та же система
            затворов, что используется для перемещения зарядов, во время экспонирования создает потенциальные ямы, в
            которых эти заряды накапливаются (либо эти ямы создаются в процессе формирования структуры — подобно
            встроенному и индуцированному каналам МОП-транзистора). Более сложные структуры включают в себя резистивный
            затвор, вдоль которого формируется плавный потенциальный склон (так устроены ПЗС-линейки Hamamatsu S11155).,
            а также разделение зон накопления и переноса зарядов — накопленные заряды всей строки сначала переносятся в
            буферную строку, а затем уже последовательно выдвигаются на выход вдоль последней.

        </p>
    </div>
</span>