<h3>О параметрах и характеристиках ПЗС.</h3>
<span>
    <p class="pad-down">Остановимся на их спектральных характеристиках – зависимости выходного сигнала от длины волны,
        или, что
        эквивалентно,<i>квантовом выходе</i> – количестве фотоэлектронов на один фотон падающего излучения.</p>
    <p class="pad-down">Спектральная характеристика (СХ) ПЗС определяется, причём мультипликативно, двумя факторами –
        прохождением света
        через электродную структуру и фотогенерацией, вызванной поглощением света непосредственно в полупроводнике
        (внутренний квантовый выход). </p>
    <p class="pad-down">Поглощение света в полупроводнике описывается <i>коэффициентом поглощения</i> – величиной,
        обратной длине, на
        которой
        интенсивность излучения падает в е раз. Далее, фотогенерацию вызывают только фотоны с энергией, превышающей
        ширину запрещённой зоны – около 1,2 эВ (что соответствует длине волны чуть больше 1,05 мкм – это ближний ИК
        диапазон). Фотоны с большей длиной волны просто не поглощаются и соответственно не дают вклада в выходной
        сигнал, а длина ~1,05 мкм оказывается красной границей фотоэффекта в кремнии. При уменьшении длины волны
        коэффициент поглощения постепенно растёт; так при λ = 1 мкм свет затухает в е раз на 100 мкм, при λ = 0,7 мкм
        (красный цвет) на 5 мкм, а при λ = 0,5 мкм (зелено- голубой) на 1 мкм. Что же из этого следует?</p>
    <p class="pad-down">Вспомним, что глубина обеднённого слоя (глубина, на которую распространяется электрическое поле
        затвора вглубь
        полупроводника) – около 5 мкм. Ясно, что для света, который целиком поглощается внутри этого слоя (при длине
        волны менее примерно 0,6 мкм), внутренний квантовый выход будет почти 100%, так как происходит мгновенное
        разделение электронно- дырочных пар электрическим полем. Для более длинных волн значительная доля фотонов
        поглощается в нейтральной подложке, откуда носители могут попасть в потенциальные ямы только за счёт тепловой
        диффузии – на что шансов тем меньше, чем глубже родился каждый конкретный электрон. Надо ещё учесть, что сама
        подложка по своим свойствам неоднородна.</p>
    <p class="pad-down">Так практически все западные приборы изготавливаются на эпитаксиальных подложках с толщиной
        эпитаксиального слоя
        10–12 мкм, а российские ПЗС – на подложках с внутренним геттерированием (это специальный процесс, при котором
        дефекты кристаллической решётки загоняются вглубь подложки, так что поверхностный слой толщиной около 20 мкм
        становится свободным от дефектов). В обоих этих случаях время жизни свободных носителей вне поверхностного слоя
        чрезвычайно мало, и они просто не успевают попасть в потенциальные ямы. Это ещё больше снижает внутренний
        квантовый выход ПЗС для длинноволнового участка спектра.</p>

    <p>Для очень коротких длин волн (менее 270 нм) энергия фотонов достаточна для генерации двух электронно-дырочных
        пар, так что для них внутренний квантовый выход, на первый взгляд, может превышать 100%. Увы, нет в мире
        совершенства, и граница раздела окисел-кремний – яркий тому пример. При коротких длинах волн коэффициент
        поглощения становится настолько большим, а длина поглощения настолько маленькой, что становятся существенным
        вклад поверхностной рекомбинации, то есть только что рождённые пары успевают рекомбинировать, не успев
        разделиться. Так что в области коротких длин волн внутренний квантовый выход тоже падает, хотя и не до нуля.</p>

    <div class="image">
        <img src="assets/troihfaz.png">
        <p class="center">Рис. 5. Сечение трёхфазного ПЗС с электродами из поликристаллического кремния (вверху) и с
            виртуальной фазой(внизу). Около половины площади ячейки свободно от поликремния.
        </p>
    </div>
    <p>Теперь поговорим о пропускании света электродной структурой. Как можно судить по рис. 5, где схематично
        изображено сечение трёхфазного ПЗС с поликремневыми затворами, свет, попадая в полупроводник, проходит через
        несколько слоёв с различными оптическими характеристиками, так что неизбежна его интерференция, благо что
        толщина этих слоёв соизмерима с длиной волны. И действительно, СХ ПЗС довольно причудлива. Далее,
        поликристаллический кремний, из которого сделаны электроды, совершенно непрозрачен в области длин волн до
        430–450 нм (синий и фиолетовый цвета). В итоге СХ обычного трёхфазного ПЗС с поликремневыми затворами выглядит
        так, как показано на рис. 6 красной линией.</p>
    <div class="image">
        <img src="assets/absoliuno.png">
        <p class="center">Рис. 6. Спектральные характеристики абсолютного квантового выхода: <span
                style="color: red;">обычного ПЗС</span> , <span style="color: orange;">ПЗС с люминофорным
                покрытием</span>, с <span style="color: green"> освещением с обратной стороны подложки</span>, с <span
                style="color: blue">виртуальной фазой</span> .
        </p>
    </div>
    <p class="pad-down">Использование фотодиодов в матрицах МП и СКП значительно улучшает СХ ПЗС, особенно в
        коротковолновой части спектра, поскольку уходят проблемы, связанные с электродами. Именно это обстоятельство
        позволяет таким приборам успешно работать в вещательных и бытовых камерах цветного телевидения. В камерах
        прикладного и научного направления, где доминируют всё же приборы с КП, применяются совершенно другие подходы.
    </p>
    <p class="pad-down">Самый простой – нанесение люминофора, специального вещества, прозрачного для длинных волн, но
        преобразующего коротковолновый свет в кванты с большей длиной волны. Этот приём позволяет расширить СХ ПЗС в
        синюю и УФ область спектра (на рис. 6 показано жёлтым цветом), не затрагивая, впрочем, средне- и длинноволновую
        часть СХ.</p>
    <p class="pad-down">Существенным недостатком этого способа является ограниченный температурный диапазон работы
        такого прибора – люминофорные покрытия не выдерживают глубокого охлаждения (автору приходилось видеть, во что
        превращается такое покрытие после охлаждения до –100°С). А работа с глубоким охлаждением (о причинах чего мы ещё
        поговорим) – ситуация довольно распространённая...</p>
    <p class="pad-down">
        Второй способ, пожалуй, самый трудоёмкий и дорогой, но именно он позволяет добиться фантастических результатов.
        Состоит он в том, что кристалл ПЗС, уже после изготовления, утоньшается до толщины 10 мкм и менее (и это при
        размере кристалла в несколько сантиметров!), а свет падает <i>на обратную сторону подложки </i>, специальным
        образом
        обработанную. При столь тонкой подложке носители успевают добраться до потенциальных ям (напомним, что они
        простираются на глубину до 5 мкм), а полное отсутствие каких бы то ни было электродов гарантирует, что
        практически весь свет, за исключением потерь на отражение, проникает в кремний.
    </p>
    <p class="pad-down"> Квантовая эффективность таких матриц (зелёная кривая на рис. 6) достигает иногда 90%, а
        спектральный диапазон
        простирается от 180 до 950 нм. Именно такие матрицы, несмотря на дороговизну (порой несколько десятков тысяч
        долларов – хотя что это за деньги, если сам телескоп стоит сотни миллионов!), применяются в большинстве
        серьёзных астрономических проектов, включая космический телескоп «Хаббл» или недавно построенную Южную
        Европейскую Обсерваторию в Чили с несколькими 8-метровыми телескопами.
    </p>
    <p class="pad-down">И, наконец, третий способ улучшения спектральных характеристик ПЗС – виртуальная фаза, способ,
        предложенный в
        1980 году Ярославом Хинечеком, в то время работавшим в фирме Texas Instruments, для американского проекта
        Galileo по запуску космического аппарата к Юпитеру. Суть этого способа в том, что один из электродов обычного
        ПЗС заменяется на мелкий слой p- типа (виртуальный затвор) непосредственно на поверхности кремния, замкнутый на
        стоп-каналы.</p>
    <p class="pad-down">Доза канала под виртуальным затвором делается больше, чем под тактовыми затворами. Вспомним то,
        что говорилось
        про ПЗС со скрытым каналом по поводу фиксации поверхностного потенциала и зависимости глубины потенциальной ямы
        от дозы легирования канала. Структура с виртуальным затвором, замкнутым на подложку, с точки зрения канала
        переноса не отличается от состояния фиксации в обычном ПЗС со скрытым каналом. Если к тому же выбрать дозу
        легирования канала в области виртуальной ямы надлежащим образом, то потенциал канала в ней будет средним между
        ямой и барьером под тактовыми электродами, так что условия для тактируемого переноса заряда сохраняются.</p>
    <p class="pad-down">Достоинства такой структуры несомненны. По сравнению с обычными ПЗС, в ней около половины
        площади ячейки свободны
        от поликремния, отсюда высокая чувствительность в синей и УФ области спектра (теоретически даже и до мягкого
        рентгена). Вместе с тем достигается она при освещении с фронтальной стороны подложки, что явно положительным
        образом сказывается на их цене. Ещё, ПЗС с виртуальной фазой по принципу действия относятся к приборам с МРР
        (Multi- Pin Phase).</p>
</span>