<span>
        <div class="pad-down">
                <h4 class="pad-down">Практическое задание 1</h4>

        </div>

        <div class="pad-down">
                <h4>Задание.</h4>
                <p>Постоянная равномерная пороговая освещенность поверхности
                        типовой ФПЗС-матрицы, определяемая источником с коррелированной
                        цветовой температурой Т<sub>цв</sub> = 2856 К, составляет Е <sub>пор</sub> = 0,1 лк.</p>
                <p>Исходные данные :</p>
        </div>

        <div class="pad-down">
                <p> <b>Определить</b> соответствующее этой освещенности среднее число
                        фотоэлектронов n ф ,
                        накопленных одним элементом ФПЗС площадью Аэ = 100 мкм2 в зависимости от
                        времени Тн (Тн изменяем от 10 до 50 мс).
                        Основные характеристики типовой ФПЗС-матрицы представлены в Вкладкe <b>Характеристики типовой
                                ФПЗС-матрицы</b> </p>
        </div>



        <h4 class="pad-down">Основные формулы</h4>

        <div class="flex pad-down">
                <span class="left-eqn">n<sub>ф</sub> = </span>
                <mathjax [content]="eqn1"></mathjax>

                <p class="eqn"> 1.1
                </p>
        </div>

        <div class="flex pad-down">
                <span class="left-eqn">M<sup>о</sup><sub>λ,отн</sub> (λ,T) =</span>
                <mathjax [content]="eqn2"></mathjax>
                <p class="eqn"> 1.2
                </p>
        </div>

        <div class="flex pad-down">
                <span class="left-eqn">E<sub>max</sub> =</span>
                <mathjax [content]="eqn3"></mathjax>
                <p class="eqn"> 1.3
                </p>
        </div>
        <div class="flex pad-down">
                <span class="left-eqn">n<sub>ф</sub> = </span>
                <mathjax [content]="eqn4"></mathjax>
                <p class="eqn"> 1.4
                </p>
        </div>


        <h4 class="pad-down">Исходные данные :</h4>

        <p class="pad-down">Т<sub>цв</sub> = <span> <span [innerHTML]="ts"></span> [К] - цветовая
                        температура источника</span></p>



        <p class="pad-down">А<sub>э</sub> = <span> <span [innerHTML]="Ae"></span> * 10 <sup>-12</sup> [м<sup>2</sup>] -
                        площадь</span></p>
        <p class="pad-down">А<sub>пор</sub> = <span> <span [innerHTML]="En"></span> [лк] - пороговая
                        освещенность</span></p>
        <p class="pad-down">λ<sub>1</sub> = <span> <input matInput (change)="onL1change($event)" [(value)]="l1"
                                class="input"> * 10 <sup>-6</sup> [м] -
                        пороговая
                        освещенность</span></p>
        <p class="pad-down">λ<sub>2</sub> = <span> <input matInput (change)="onL2change($event)" [(value)]="l2"
                                class="input"> * 10 <sup>-6</sup> [м] -
                        пороговая
                        освещенность</span></p>
        <p class="pad-down">λ<sub>x</sub> = <span> <input matInput (change)="onLchange($event)" [(value)]="lx"
                                class="input">
                        * 10 <sup>-6</sup> [м] -
                        пороговая
                        освещенность</span></p>

        <p class="pad-down">n(λ) = <span> <input matInput (change)="onNchange($event)" [(value)]="n" class="input">
                        - спектральная плотность квантовой эффективности</span></p>

        <p class="pad-down">C<sub>1</sub> = <span> <span [innerHTML]="c1"></span> * 10 <sup>-16</sup>
                        [Вт⋅м<sup>2</sup>]
                        - констант</span></p>
        <p class="pad-down">C<sub>2</sub> = <span> <span [innerHTML]="c2"></span> * 10 <sup>6</sup> [м⋅К] -
                        констант</span></p>
        <p class="pad-down">C<sub>3</sub> = <span> <span [innerHTML]="c3"></span> * 10 <sup>-15</sup>
                        [Вт/(м<sup>3</sup>К<sup>5</sup>)] - констант</span></p>
        <p class="pad-down">h = <span> <span [innerHTML]="c1"></span> * 10 <sup>-34</sup> [Дж⋅с]
                        – постоянная Планка</span></p>
        <p class="pad-down">c = <span> <span [innerHTML]="c"></span> * 10 <sup>8</sup> [м/с] -
                        скорость света</span></p>
        <p class="pad-down">σ = <span> <span [innerHTML]="d"></span> * 10 <sup>-8</sup>
                        [Вт/(м<sup>2</sup>К<sup>4</sup>)] - постоянная Стефана-Больцмана</span></p>

        <div class="slider">
                <p class="pad-down">Т<sub>н</sub> = <mat-slider color="primary" thumbLabel tickInterval="1" min="10"
                                max="50" step="5" [value]=tn (change)="onTchange($event)"></mat-slider><span> <span
                                        [innerHTML]="tn"></span> [мс] - время
                        </span></p>

        </div>

        <div class="flex pad-down">
                <span class="left-eqn">M<sup>о</sup><sub>λ,отн</sub> (λ,T) =</span>
                <mathjax [content]="eqn6"></mathjax>
                <p class="eqn">= <span [innerHTML]="m"></span> </p>
        </div>
        <p class="pad-down">- плотность относительного спектрального распределения светимости АЧТ</p>

        <div class="flex pad-down">
                <span class="left-eqn">n<sub>ф</sub> = </span>
                <mathjax [content]="eqn5"></mathjax>
                <p class="eqn">= <span [innerHTML]="nf"></span> - среднее число фотоэлектронов</p>
        </div>

        <p>Подставить исходные данные в формулу 1.4 . Численные
                значения для <i>n(λ)</i> взять из вкладки <b>График</b>. Вычислить интегралы численным методом (с
                помощью программы
                «Mathcad»).
                Построить график зависимости n ф (Тн).</p>



</span>