<span>
    <div class="pad-down">
        <h4 class="pad-down">Лабораторная работа : Принципы построения изображающих ПЗС </h4>
        <p class="pad-down"> Расчёт освещенности среднее число фотоэлектронов nф</p>
        <p>Исходные данные :</p>
    </div>

    <div>
        <p class="pad-down">Т<sub>цв</sub> = <span> <span [innerHTML]="ts"></span> [К] - цветовая
                температура источника</span></p>
        <p class="pad-down">Т<sub>н</sub> = <span> <span [innerHTML]="tn"></span> [мс] - время
            </span></p>
        <p class="pad-down">А<sub>э</sub> = <span> <span [innerHTML]="Ae"></span> [мкм<sup>2</sup>] -
                площадь</span></p>
        <p class="pad-down">А<sub>пор</sub> = <span> <span [innerHTML]="En"></span> [лк] - пороговая
                освещенность</span></p>
        <p class="pad-down">λ<sub>1</sub> = <span> <span [innerHTML]="l1"></span> * 10 <sup>-6</sup> [лк] - пороговая
                освещенность</span></p>
        <p class="pad-down">λ<sub>2</sub> = <span> <span [innerHTML]="l2"></span> * 10 <sup>-6</sup> [лк] - пороговая
                освещенность</span></p>
        <p class="pad-down">λ<sub>x</sub> = <span> <span [innerHTML]="lx"></span> * 10 <sup>-6</sup> [лк] - пороговая
                освещенность</span></p>
        <p class="pad-down">C<sub>1</sub> = <span> <span [innerHTML]="c1"></span> * 10 <sup>-16</sup> [Вт⋅м<sup>2</sup>]
                - констант</span></p>
        <p class="pad-down">C<sub>2</sub> = <span> <span [innerHTML]="c2"></span> * 10 <sup>6</sup> [м⋅К] -
                констант</span></p>
        <p class="pad-down">C<sub>3</sub> = <span> <span [innerHTML]="c3"></span> * 10 <sup>-15</sup>
                [Вт/(м<sup>3</sup>К<sup>5</sup>)] - констант</span></p>
        <p class="pad-down">h = <span> <span [innerHTML]="c1"></span> * 10 <sup>-34</sup> [Дж⋅с]
                – постоянная Планка</span></p>
        <p class="pad-down">c = <span> <span [innerHTML]="c"></span> * 10 <sup>8</sup> [м/с] -
                скорость света</span></p>
        <p class="pad-down">σ = <span> <span [innerHTML]="d"></span> * 10 <sup>-8</sup>
                [Вт/(м<sup>2</sup>К<sup>4</sup>)] - постоянная Стефана-Больцмана</span></p>

    </div>
    <!-- <div>
        <mat-slider thumbLabel color="accent" [displayWith]="formatLabel"  step="10" tickInterval="1" min="0.2" max="1.1"></mat-slider>
    </div> -->

</span>