<h4 class="pad-down"> Основные технические характеристики ФПЗС-камер </h4>

<p class="pad-down"> <i>Разрешающая способность (разрешение)</i> характеризует способность
    ФПЗС-матрицы воспроизводить мелкие детали изображения (т.е. передавать
    высокие пространственные частоты). Разрешающая способность ФПЗС в
    первую очередь определяется числом элементов матрицы и их размерами.

</p>

<p class="pad-down">
    <i>Спектральная характеристика</i> отражает способность ФПЗС-матрицы
    преобразовывать оптическое излучение с различными длинами волн в
    электрический заряд. Применительно к ФПЗС-матрицам спектральная
    характеристика представляет собой зависимость квантовой эффективности от длины
    волны.
</p>

<p class="pad-down">Спектральная характеристика ПЗС определяется мультипликативно двумя факторами – прохождением света
    через электродную структуру и фотогенерацией, вызванной поглощением света непосредственно в полупроводнике
    (внутренний квантовый выход).
    Электроны, вылетающие из вещества при внешнем фотоэффекте, называются фотоэлектронами, а электрический ток,
    образуемый ими при упорядоченном движении во внешнем электрическом поле, называется фототоком.
</p>

<p class="pad-down"> <i>Цветовая температура</i> (спектрофотометрическая или колориметрическая температура; обозначается
    Тс и
    измеряется в кельвинах) — характеристика хода интенсивности излучения источника света как функции длины волны в
    оптическом диапазоне.</p>

<p> Минимальная <i>(пороговая)</i> освещенность – такая освещенность предметной плоскости
    (наблюдаемого объекта), при которой уровень видеосигнала, формируемого ФПЗС-
    камерой, удовлетворяет заранее
    указанным требованиям.</p>