<h4 class="pad-down"> Модуляционная передаточная функция ФПЗС </h4>

<p> <i>Муа́ровый узор</i> — узор, возникающий при наложении двух периодических сетчатых рисунков.
    Явление обусловлено тем, что
    повторяющиеся элементы двух рисунков следуют с немного разной частотой и то накладываются друг на друга, то образуют
    промежутки.
</p>


<p class="pad-down"> <i>Муаровая интерферометрия</i> — это высокоточный метод исследования деформаций конструкционных
    материалов. Он требует очень стабильных условий окружающей среды и применяется главным образом в лабораториях.</p>
<p class="pad-down"><i>Методы муара</i> — общее название методов измерения полного поля, в которых используется явление
    интерференции между решеткой, присутствующей в определенной форме на исследуемом образце, и эталонной решеткой, для
    увеличения поверхностных деформаций и построения карты рельефа отражающей сдвиг поверхности — муар-интерференционной
    картины, или интерферограммы.</p>

<p class="pad-down"><i>Частота Найквиста</i> — в цифровой обработке сигналов частота, равная половине частоты
    дискретизации. Названа в честь
    Гарри Найквиста.</p>

<p class="pad-down">Из теоремы Котельникова следует, что при дискретизации аналогового сигнала потерь информации не
    будет только в том
    случае, если (спектральная плотность) наивысшая частота полезного сигнала равна половине или меньше частоты
    дискретизации (в англоязычной литературе под обозначением половины частоты дискретизации употребляют термин частота
    Найквиста). В противном случае при восстановлении аналогового сигнала будет иметь место наложение спектральных
    «хвостов» (подмена частот, маскировка частот, алиасинг), и форма восстановленного сигнала будет искажена.</p>
<p> Если
    спектр сигнала не имеет составляющих выше частоты Найквиста, то сигнал может быть (теоретически) продискретизирован
    и затем восстановлен без искажений. Фактически «оцифровка» сигнала (превращение аналогового сигнала в цифровой)
    сопряжена с квантованием отсчётов — каждый отсчёт записывается в виде цифрового кода конечной разрядности, в
    результате чего к отсчётам добавляются ошибки квантования (округления), при определённых условиях рассматриваемые
    как «шум квантования»</p>