<span>
    <h3>О достоинствах и ограничениях ПЗС</h3>
    <p class="pad-down">Жёсткий растр. В трубках растр создавался сканирующим электронным лучом, и его геометрическое
        качество зависело
        от массы факторов – линейности напряжений развёрток, стабильности питающих напряжений, температурных эффектов и
        т. д. В твердотельных приборах растр задаётся с высокой точностью в процессе изготовления структуры прибора, так
        что геометрические искажения получаемого изображения определяются только качеством оптики.</p>

    <p class="pad-down">С жёсткостью растра связаны и такие достоинства, как отсутствие микрофонного эффекта (т. е.
        изменения параметров
        электровакуумного прибора из-за акустического воздействия) и нечувствительность к магнитным полям – а ведь
        искажения в трубках, если не принимать специальных мер, могли возникать даже от изменения её положения
        относительно магнитного поля Земли!
    </p>Ещё один неприятный эффект, свойственный трубкам (кстати, и фоторезисторным матрицам) и полностью отсутствующий
    в ПЗС – инерционность. Многие, вероятно, видели хвост, тянущийся за изображением яркой лампы при панорамировании
    камеры. Именно так проявляется инерционность трубки – даже после исчезновения освещенности данной точки фотокатода
    сигнал с неё не спадает мгновенно. В матрицах ПЗС накопленный сигнальный заряд полностью выводится при переносе
    кадра – и к началу следующей экспозиции секция накопления как новенькая.
    <p class="pad-down">Ещё одно достоинство – отсутствие эффекта выжигания. В трубках чрезмерно яркий свет (например,
        случайно попавший
        в поле зрения яркий источник света или, Солнце), приводил к выжиганию – длительному, а иногда и необратимому
        изменению параметров фотокатода – и изображение этого источника (причём негативное) ещё долгое время можно было
        наблюдать, даже не открывая объектив...</p>
    <p class="pad-down">Ещё один неприятный эффект, свойственный трубкам (кстати, и фоторезисторным матрицам) и
        полностью отсутствующий в
        ПЗС – инерционность. Многие, вероятно, видели хвост, тянущийся за изображением яркой лампы при панорамировании
        камеры. Именно так проявляется инерционность трубки – даже после исчезновения освещенности данной точки
        фотокатода сигнал с неё не спадает мгновенно. В матрицах ПЗС накопленный сигнальный заряд полностью выводится
        при переносе кадра – и к началу следующей экспозиции секция накопления как новенькая.</p>
    <p class="pad-down">По сравнению с твердотельными приборами с координатной адресацией (КА) ПЗС сильно выигрывают в
        однородности
        сигнала, так как все зарядовые пакеты детектируются одним усилителем (вспомним, что в приборах с КА каждый
        столбец имеет свой усилитель со своим коэффициентом усиления). Помимо одинакового для всех зарядовых пакетов
        коэффициента преобразования заряд-напряжение, усилитель ПЗС характеризуется и значительно меньшим по сравнению с
        матрицами с КА шумом (это связано с величиной ёмкости преобразования).
    </p>
    <p class="pad-down">И ещё одно достоинство по сравнению с конструкцией: вся площадь секции накопления является
        фоточувствительной,
        т.е. коэффициент заполнения (fill factor) равен 100%. Эта особенность делает приборы данной организации
        монополистами в астрономии и вообще везде, где идёт борьба за чувствительность.
    </p>
    <p class="pad-down">
        При всей несомненной простоте, у матриц с рассмотренной организацией (они называются ПЗС с кадровым переносом)
        есть один существенный недостаток – собственно, сам кадровый перенос (КП).
    </p>
    <p class="pad-down">Тактовая частота, подаваемая на секции во время КП, составляет, как правило, несколько сот кГц
        (редко 1–2 МГц),
        что связано с большой ёмкостью фаз секций (до 10 000 пФ) и тем, что сами электроды имеют распределённые
        параметры (RC), и тактовые импульсы при их высокой частоте могут просто не дойти до середины электрода. Раз так,
        то КП занимает существенное время
        – доли мс.
    </p>
    <p class="pad-down">Если теперь учесть, что во время КП секция накопления остаётся освещённой, то яркие участки
        изображения успевают
        дать вклад в чужой зарядовый пакет даже за то короткое время, когда он проходит через них. Так на сигнале
        появляется смаз – вертикальный след от ярких участков изображения размером во весь кадр. Для борьбы с ним
        применяются разные ухищрения. Так, в малокадровых системах (прикладные системы с низкой кадровой частотой; яркий
        пример, астрономия, где время накопления составляет порой часы) используется механический затвор, или же, если
        есть возможность, просто отключают источник света. В цифровых камерах для компенсации смаза используются
        достаточно простые алгоритмы обработки изображения (отдельно запоминается картинка смаза – её можно получить,
        например, при нулевом времени накопления – и затем она вычитается из «суммарного» изображения). Однако
        радикально проблема смаза решается в приборах с межстрочным переносом (МП), завоевавших доминирующее положение
        на рынке бытовой видеотехники (см. рис. 2). В отличие от матриц с КП, функции накопления заряда и его переноса
        здесь разделены. Заряд из элементов накопления (как правило, фотодиоды – они тоже обладают ёмкостью и способны
        накапливать заряд!) передаётся в закрытые от света ПЗС-регистры переноса, т. е. секция переноса как бы вставлена
        в секцию накопления.
    </p>
    <div class="image">
        <img src="assets/register.png">
        <p class="center">Рис. 2. Приборы с межстрочным переносом. Весь накопленный заряд перемещается в закрытые от
            света вертикальные регистры
            за один перенос
        </p>
    </div>
    <p class="pad-down">Теперь перенос зарядового рельефа всего кадра происходит за один такт, и смаз, связанный с
        переносом, не
        возникает. Чтобы побороть ещё и искажения, возникающие из-за попадания в каналы переноса носителей, генерируемых
        в глубине подложки (если только не применяется фильтр ИК отсечки – а в видеокамерах он всегда применяется), к
        матрице с МП добавляется ещё одна секция памяти с соответствующим числом элементов (рис. 3). Смаз в такой
        матрице со строчно-кадровым переносом (СКП) пренебрежимо мал.
    </p>
    <div class="image center">
        <img src="assets/register1.png">
        <p class="center">Рис. 3. Структура матрицы ПЗС со строчно-кадровым переносом
        </p>
    </div>
    <p class="pad-down">
        По сравнению с матрицами с КП фактор заполнения в матрицах с МП или СКП примерно вдвое меньше, так как около
        половины площади фоточувствительной поверхности закрыто от света. Чтобы повысить эффективность сбора фотонов,
        используется микрорастр – массив небольших линзочек. Он формируется очень просто: на поверхность пластины с уже
        формированными структурами матрицы наносится слой оптической легкоплавкой пластмассы, из которого методом
        фотолитографии вырезаются изолированные квадратики, лежащие над каждым элементом. Зазор между отдельными
        квадратиками невелик. Затем пластина нагревается, пластмасса подплавляется и поверхность отдельных квадратиков
        приобретает близкую к сферической форму, фокусируя приходящий на её поверхность свет точно на фоточувствительный
        элемент матрицы. Получается вот что:

    </p>

    <div class="image center">
        <img src="assets/rastr.png">
        <p class="center">Рис. 4. Микролинзовый растр в ПЗС с межстрочным переносом значительно повышает эффективность
            сбора фотонов
        </p>
    </div>
</span>