<span class="content-container">
    <h3>Принципы построения изображающих приборов с зарядовой связью</h3>
    <div>
        <p>Матричные приемники излучения (МПИ) на основе приборов с зарядовой связью (ПЗС) вместе с интегрированными на
            единой плате микросхемами управления являются наиболее удобными формирователями видеосигнала в силу
            достаточно
            высокого качества формируемого изображения, простоты и компактности конструктивного исполнения, надежности,
            необходимости только одного напряжения питания и т.д.
            С момента изобретения Виллардом С. Бойлом и Джорджем Е. Смитом в 1969 г. приборов с зарядовой связью и до
            настоящего времени принципиальных изменений в их конструкции не произошло. Основой фоточувствительного
            элемента ПЗС (ФПЗС) по-прежнему является МДП- конденсатор, в котором в отличие от обычного конденсатора одна
            из
            обкладок представляет собой полупроводниковый материал с примесной проводимостью (обычно р-типа). Отсюда
            сокращение МДП: металл – диэлектрик – полупроводник (см. рис.1).</p>
    </div>
    <div class="image">
        <img src="assets/struktura-yeichka.png">
        <p class="center">Рис. 1. Структура классической ячейки ФПЗС (МДП-конденсатор)
        </p>
    </div>
</span>