<mat-sidenav-container class="page-container">
    <input type="hidden" value="main" #navbar>
    <mat-sidenav mode="side" opened>
        <mat-nav-list>

            <div class="card card-large" [ngClass]='navbar.value == "main"? "selected":"not-selected"'
                (click)="navbar.value = 'main'" navbarindex="0">
                <span>Принципы построения изображающих ПЗС</span>
            </div>

            <div class="card card-large" [ngClass]='navbar.value == "1"? "selected":"not-selected"'
                (click)="navbar.value = '1'" navbarindex="0">
                <span>Практическая часть</span>
            </div>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-printsipi-pzc *ngIf="navbar.value == 'main'"></app-printsipi-pzc>
        <app-prakticheskaya1 *ngIf="navbar.value == '1'"></app-prakticheskaya1>
    </mat-sidenav-content>

</mat-sidenav-container>