<p class="pad-down">Наименование прибора:
    <span class="bold">SONY ICX055AL;</span>
    формат – 1/3”; кремниевая;</p>
<p class="pad-down">Диапазон изменения времени накопления: 100 мкс … 20 мс</p>
<p class="pad-down">Тип переноса: строчно-кадровый (interline)</p>
<p class="pad-down">Напряжение на регистрах переноса: +5 В;</p>
<p class="pad-down">Напряжение на затворе узла считывания: +5 В;</p>
<p class="pad-down">Число активных элементов: 796 х 582; всего элементов: 812 х 596;</p>
<p class="pad-down">Размеры одного фоточувствительного элемента 9,8 мкм х 6,3 мкм;</p>
<p class="pad-down">Размеры кристалла: 6,0 мм х 4,96 мм;</p>
<p class="pad-down">Темновой видеосигнал: Uт = 2 мВ;</p>

<p class="pad-down">Диапазон рабочих температур: -10 … + 60 °С;</p>
<p class="pad-down">При определении пороговой освещенности должен использоваться</p>
<p class="pad-down">тест-объект с яркостью 706 кд/м
    2
    с цветовой температурой 3200 К.</p>

<div class="image">
    <p class="pad-down">ФПЗС-матрица выпускается в корпусах 2-х типов:</p>
    <img src="assets/prilozhenia.png">

</div>