<input type="hidden" value="main" #tab>

<div class="card-container">
    <div class="card card-small" [ngClass]='tab.value == "main"? "selected":"not-selected"' (click)="tab.value = 'main'"
        tabindex="0">
        <span>Главная</span>
    </div>

    <div class="card card-small" [ngClass]='tab.value == "1"? "selected":"not-selected"' (click)="tab.value = '1'"
        tabindex="0">
        <span>Задание 1</span>
    </div>

    <div class="card card-small" [ngClass]='tab.value == "2"? "selected":"not-selected"' (click)="tab.value = '2'"
        tabindex="0">
        <span>Задание 2</span>
    </div>

    <div class="card card-small" [ngClass]='tab.value == "3"? "selected":"not-selected"' (click)="tab.value = '3'"
        tabindex="0">
        <span>Задание 3</span>
    </div>
</div>


<app-glavniy *ngIf="tab.value == 'main'"></app-glavniy>
<app-primer1 *ngIf="tab.value == '1'"></app-primer1>
<app-primer2 *ngIf="tab.value == '2'"></app-primer2>
<app-primer3 *ngIf="tab.value == '3'"></app-primer3>